:root {
    --primeira-cor: #50514F;
    --segunda-cor: #cbd4c2;

    --borda:#FFFCFF;

    --fundo: #247BA0;
    --text: #C3B299;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    color: var(--text);
    font-size: 30px;
}

h1 {
    color: var(--primeira-cor);
}

.conteudo {
    display: flex;

    height: 200px;
}

.conteudo > .esquerda > img {
    width: 70px;
    height: 70px;
}