* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(62, 64, 66);
    color: rgb(251, 251, 250);
    font-size: 30px;
}

h1 {
    color: rgb(144, 26, 26);
}

.conteudo {
    display: flex;

    height: 200px;
}